/*/
// --- Insight Color Palette - taken from Service Portal
/*/
/**************************** INSIGHT COLORS **************************************/
// Primary Palette
$insight-primary-warm-gray: #554741 !default;
$insight-primary-light-red: #d30c55 !default;
$insight-primary-red: #ed1944 !default;
$insight-primary-magenta: #d40e8c !default;
$insight-primary-purple: #b01c87 !default;

// Secondary Palette
$insight-secondary-warm-grary: #7d726d !default;
$insight-secondary-light-gray: #a39d99 !default;
$insight-secondary-very-light-gray: #d4d0ca !default;
$insight-secondary-turquoise: #0098ba !default;
$insight-secondary-baby-blue: #57b5e6 !default;

/********* INSIGHT COLORS (Screen-specific, ADA-compliant colors - for web use only) ************/
// Primary Palette
$insight-primary-ada-warm-gray: #3e332d !default; // Body Text - Warm Gray
$insight-primary-ada-red: #ae0a46 !default; // Link text / Primary button
$insight-primary-ada-dark-red: #af0e2e !default; // Error message
$insight-primary-ada-light-magenta: #a80b6e !default;
$insight-primary-ada-magenta: #9f177a !default;

// Secondary Palette
$insight-secondary-ada-very-light-gray: #e6e6e5 !default; // Alternating Column Background
$insight-secondary-ada-gray: #cbc4c3 !default;
$insight-secondary-ada-dark-gray: #5f5753 !default;
$insight-secondary-ada-baby-blue: #95cfee !default;
$insight-secondary-ada-turquoise: #007996 !default; // Third navigation element, Indicator for good password

// Tertiary Pallete 
$insight-tertiary-ada-black: #222222 !default; // H1, H2, H3, H4 headline,Closing call to action background
$insight-tertiary-ada-magenta: #6f062d !default; // Hover over background for primary button
$insight-tertiary-ada-very-light-blue: #dcf0fa !default; // Contract / IPS Orders Header Background
$insight-tertiary-ada-green: #406129 !default; // Indicator for strong password
$insight-tertiary-ada-yellow: #ffc208 !default; // Indicator for fair password

/**************************** Custom Colors ****************************************/
$white: #ffffff !default;
$white-smoke: #F5F5F5 !default;
$westar: #d4d0ca !default;
$medium-grey: #cccccc !default;
$shuttle-grey: #646567 !default;
$seashell: #f7f6f5 !default;
$fern: #5cb85c !default;

/********************* Mixins *********************************/
@mixin setADAToggle($color) {
  .input-switch input[type=checkbox]:checked~.switch {
    @include setBackgroundBorder($color);
  }
}

@mixin setBackgroundBorder($color) {
  border-color: $color !important;
  background-color: $color !important;
}

@mixin setBtnDefaultBGHover($color) {
  .btn-default:not(.btn-primary):hover {

    &.send-message,
    &[name='reject'] {
      @include setBackgroundBorder($color);
      @include setColor($white);
    }
  }
}

@mixin setColor($color) {
  color: $color !important;
}

@mixin setDropdown($color) {
  .select2-results {
    .select2-highlighted {
      @include setBackgroundBorder($color);
    }
  }
}

@mixin setPanelBG($color) {
  .panel-primary>.panel-heading {
    @include setBackgroundBorder($color);
  }
}

@mixin setPanelColor($color) {
  .panel-primary>.panel-heading {
    @include setColor($color);
  }
}

@mixin setCategoryListItemHover($color) {
  .category-list .list-group-item .group-item-primary:hover {
    @include setBackgroundBorder($color);
    @include setColor($white);
  }
}


@mixin setPrimaryClass($name, $color) {
  .#{$name}-primary {
    @include setBackgroundBorder($color);
  }
}

@mixin setPrimaryTheme($color) {
  @include setSearchButton($color);
  @include setDropdown($color);
}

@mixin setSearchButton($color) {
  .btn.btn-default[name='search'] {
    @include setBackgroundBorder($color);
  }
}

@mixin setSuccessTheme($color) {
  @include setADAToggle($color);
  @include setTimeLineBadge($color);

  // [class*="-success"] {
  //   @include setBackground($color);
  //   @include setColor($white);
  // }
}

@mixin setTimeLineBadge($color) {
  .timeline-badge {
    &.success {
      @include setBackgroundBorder($color);
    }
  }
}

/**************************** Theme **************************************/
//Bootstrap colors
$brand-primary: $insight-primary-ada-red; //$insight-primary-light-red;
$brand-success: $insight-tertiary-ada-green; //$fern;
$brand-info: $insight-secondary-ada-turquoise;
$brand-warning: $insight-tertiary-ada-yellow;
$brand-danger: $insight-primary-ada-dark-red;

//General
$primary: $brand-primary;
$body-bg: $white;
$state-success-text: $fern;

$text-color: $insight-primary-ada-warm-gray;
$sp-homepage-bg: $white;
$sp-tagline-color: $white;
$text-muted: $shuttle-grey;
$dropdown-link-disabled-color: $medium-grey;

// Navbar
$sp-navbar-divider-color: $westar;
$sp-logo-margin-x: 15px !default;
$sp-logo-margin-y: .5rem;
$navbar-inverse-bg: $white;
$navbar-inverse-link-color: $insight-primary-ada-warm-gray;
$navbar-inverse-link-hover-color: $insight-primary-light-red;
// $navbar-inverse-link-hover-bg: $brand-primary;
// $navbar-inverse-link-active-bg: $brand-primary;

// Links
$link-color: $insight-primary-ada-red;
$link-hover-color: $insight-tertiary-ada-magenta;
$link-hover-decoration: underline !default;

// Panels
$panel-bg: $white;
$panel-primary-heading-bg: $insight-tertiary-ada-very-light-blue;
$panel-primary-border: $insight-tertiary-ada-very-light-blue;
$panel-primary-text: $text-color;
$panel-footer-bg: $white;
//Buttons
$btn-default-bg: $white;
// $btn-default-border: $insight-tertiary-ada-black;
// $btn-primary-border: $insight-primary-ada-red;
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;

/*********************** Overrides ******************************/
@include setSearchButton($brand-primary);
@include setDropdown($brand-primary);
@include setSuccessTheme($insight-tertiary-ada-green);
@include setPanelBG($white-smoke);
@include setPanelColor($insight-primary-ada-warm-gray);
@include setCategoryListItemHover($insight-secondary-ada-gray);
@include setBtnDefaultBGHover($insight-secondary-ada-dark-gray);


body {
  font-family: "allumi-2-std", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6  {
  font-family: "klinic_slablight", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
/* Panel Fix */
.panel {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "allumi-2-std" !important;
  }
}


/* alert overrides */
.alert-success {
  color: $brand-success !important;
}

.alert-info {
  color: $brand-info !important;
}

.alert-warning {
  color: $brand-warning !important;
}

.alert-danger {
  color: $brand-danger !important;
}

.navbar-nav {
  .open {
    a {
      .label {
        background-color: $white-smoke !important;
        color: $brand-primary !important;
      }
    }
  }

  li {
    a:hover {
      .label {
        background-color: $white-smoke !important;
        color: $brand-primary !important;
      }
    }
  }
}

.breadcrumbs-container {
  background-color: $seashell !important;
}

.fa-search {
  color: $white !important;
}

.sp-list-menu-item .active {
  color: $insight-secondary-ada-dark-gray !important
}

/* Survey headers */
.outer-circle,
.survey-heading {
  background-color: $insight-primary-ada-red !important;
}

[accessibility="true"] {
  @include setPrimaryTheme($insight-primary-ada-red);
  @include setPrimaryClass("btn", $insight-primary-ada-red);
  @include setPrimaryClass("label", $insight-primary-ada-red);
  @include setPrimaryClass("bg", $insight-primary-ada-red);

  * {
    font-weight: 400 !important;
  }

  .sp-announcement-root {
    a {
      text-decoration: underline !important;
    }
  }

  [uib-rating] {
    .glyphicon-star {
      color: black !important;
    }
  }
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    .text-muted {
      color: $navbar-inverse-link-color !important;
    }
  }
}
